
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@300;400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: max(1000px, 100vw);
    background-repeat: no-repeat;
    height: 600px;
    /* max-width: 100%; */
    position: relative;
    

}

.main .box {
    height: 600px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.69;
}

nav {
    display: flex;
    max-width: 75vw;
    justify-content: space-between;
    margin: auto;
    padding-top: 25px;

}

.logo {
    width: 150px;
    height: auto;
    position: relative;
    z-index: 10;
}

.navBtn {
    position: relative;
    z-index: 10;
    display: flex;
    gap: 10px;
    
}



.langBtn {
    padding: 0 8px;
    color: white;
    border-radius: 4px;
    background-color: rgba(248, 243, 243, 0.219);
    border: 0.5px solid black;
    cursor: pointer;
}


.logBtn {
    padding: 0 14px;
    color: white;
    border-radius: 4px;
    background-color: rgb(235, 31, 31);
    border: 0.5px solid black;
    font-weight: 700;
    cursor: pointer;
}

.heading {
    
    padding-top: 130px;
    position: relative;
    z-index: 10;
    color: white;
    max-width: 50vw;
    margin: auto;
    text-align: center;


}

.heading> :nth-child(1) {
    font-size: 50px;

}

.heading> :nth-child(2) {
    font-size: 20px;
    padding: 20px;
    font-size: 25px;
    font-weight: 800;
}

.heading> :nth-child(3) {
    font-size: 20px;
}

.heading-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 15px;

}

.heading input {
    /* padding: 10px; */
    color: white;
    padding: 7px 101px 8px 14px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}


.heading .btn-red {
    padding: 6px 15px;
    font-weight: 550;
    font-size: 18px;
    color: white;
    border-radius: 8px;
    background-color: rgb(235, 31, 31);
    border: 0.5px solid black;
    cursor: pointer;
}

.separation {
    height: 7px;
    background-color: gray;
    position: relative;
    z-index: 20;
    margin: 10px 0;

}

section {
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    background: black;
    gap: 10px;
    color: aliceblue;
    padding: 20px;
}

.secText {
    max-width: 40vw;
    /* background: red; */
    /* text-align: center; */

}

.secMedia {
    display: flex;
    position: relative;
}

.secMedia img {
    position: relative;
    z-index: 10;
}

.secMedia video {
    position: absolute;
    right: 62px;
    top: 70px;
}

.secText :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

.secText :nth-child(2) {
    font-size: 24px;
}

/* FAQ Section  */
.faq h2{
    text-align: center;
    font-size: 48px;
}


.faq{
    background: black;
    color: white;
    padding: 34px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.faqBox:hover{
    background-color: #414141;
    color: white;
}
.faqBox{
    border: 2px solid black;
    display: flex;
    align-items: center;
    background-color: #2d2d2d;
    padding: 15px 34px;
    cursor: pointer;
    transition: all 1s;
}
.faqBox span{
    align-items: center;
    width: 60vw;
    font-size: 24px;
    font-weight: 400;
    
}
.faqbox img{
    right: 0;
}

/* Footer Section  */

footer{
    color: white;
     max-width: 60vw;
    margin: auto;
    padding-bottom: 20px;
    
    
}

.question{
    font-size: 20px;
    padding: 8px 0;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
   
}

.footer-item{
    display: flex;
    flex-direction: column;
    
    
}
.footer-item a{
    color: aliceblue;
    font-size: 18px;
    
}







@media screen and (max-width: 1000px) {

    nav {
        max-width: 90vw;
    }

    .heading {
        padding-top: 100px;
    }

    .heading-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .heading> :nth-child(1) {
        font-size: 40px;

    }

    .heading> :nth-child(2) {
        font-size: 18px;

    }

    .heading> :nth-child(3) {
        font-size: 17px;
    }


    section {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
    }

    .secImg video {
        width: 305px;
    }
}

/* FAQ  */
 

@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}